<div class="row">
  <p>product.component</p>
<!--  <div class="col-xs-12 col-md-8 col-md-offset-2">-->
<!--    <p>Name: {{ product.name }}</p>-->
<!--    <p>Description: {{ product.description }}</p>-->
<!--    <p>Price: {{ product.price }}</p>-->
<!--  </div>-->

  <div class="col-md-2">
    {{ product.name }}
  </div>
  <div class="col-md-2">
    {{ product.description }}
  </div>
  <div class="col-md-2">
    {{ product.price }}
  </div>
  <button
    class="btn btn-success col-md-2"
    (click)="onUpdateProduct(product)">
    Edit
  </button>
  <button
    class="btn btn-primary col-md-2"
    (click)="onUpdateProduct(product)">
    Update
  </button>
  <button
    class="btn btn-danger col-md-2"
    (click)="onDeleteProduct()">
    Delete
  </button>

</div>

