<div class="container">
  <p>app.component</p>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h3>Manage Products</h3>
        <app-manage-product></app-manage-product>
      <hr>
    </div>
  </div>

  <!-- Table head-->
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="col-md-2">Name</div>
            <div class="col-md-2">Description</div>
            <div class="col-md-2">Price</div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-product
        *ngFor="let prod of products; let i = index"
        [product]="prod"
        [id]="i"></app-product>
    </div>
  </div>

</div>

<!--<input type="text" [(ngModel)]="name">-->
<!--<p>{{name}}</p>-->
